/* Reset some default styles */

* {
  box-sizing: border-box;
  border: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 15%;
  height: 6000px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: right;
  padding: 20px;
  width: 85%;
  background-color: #f1f1f1;
  height: 6000px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: left;
  color: white;
}

i
{ color: black; padding: 10px;}

a {
color: black;
text-decoration: none
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

/* progress bar */
progress {
  width: 80%;
  height: 24px;
  background: crimson;
  border-color: black;
  background-color: black;
}

progress {
  color: lightblue;
}

progress::-moz-progress-bar {
  background: lightblue;
}

progress::-webkit-progress-value {
  background: mediumseagreen;
  border-color: black;
}

progress::-webkit-progress-bar {
  background: white;
  border-color: black;
}
